*{
	font-family: "Verdana";
	padding: .2em;
}

.creditsTable{
	padding-top: 50px;
	padding-left: 100px;
}

.fixedCreditsHeader{
	position: fixed;
}

.adjustCredits{
	top: 150px;
	padding-left: 10px;
	position: fixed;
}

.selected{
	background-color: LightCoral;
}

#homePageLink{
	text-decoration: none;
	color: inherit;
}

#logoutButton{
	cursor: hand;
	cursor: pointer;
}

body { 
	padding-bottom: 70px;
	padding-top: 70px;
	text-align: left;
}

input.error{
	background-color: rgb(255, 231, 231);
}

.sortLink:hover{
	text-decoration: none;
	color: red;
}

ul{
	list-style: none;
}
