*{
	font-family: "Verdana";
	padding: .2em;
}

.selected{
	background-color: LightCoral;
}

#homePageLink{
	text-decoration: none;
	color: inherit;
}

#logoutButton{
	cursor: hand;
	cursor: pointer;
}

body { 
	padding-bottom: 70px;
	padding-top: 70px;
	text-align: left;
}

input.error{
	background-color: rgb(255, 231, 231);
}

.sortLink:hover{
	text-decoration: none;
	color: red;
}